.container__listCountries {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .table-row {
    font-size: 22px;
    font-weight: 600;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .row__country {
    background-color: #dfedf0;
    color: #1f718c;
  }
  .row__country .fa-star {
    color:#FFD700;
  }
  tr:nth-child(even) .row__country {
    background-color: #F0F5F8;
  }
  .row__totalConfirmed {
    background-color: #e6f1ed;
    color: #fe7325;
  }
  tr:nth-child(even) .row__totalConfirmed {
    background-color: #f9faf4;
  }
  .row__totalDeaths {
    background-color: #e6e9ee;
    color: #d01330;
  }
  tr:nth-child(even) .row__totalDeaths {
    background-color: #f8f2f6;
  }
  .row__totalRecovered {
    background-color: #dbebeb;
    color: #0f9153;
  }
  tr:nth-child(even) .row__totalRecovered {
    background-color: #ecf5f4;
  }

  .row__options {
    background-color: #dfedf0;
    color: #1f718c;
  }
  tr:nth-child(even) .row__options {
    background-color: #F0F5F8;
  }
  .pagination {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: #147B98;
    color: white;
  }
  .pagination a {
    border-radius: 5px;
  }
  
  .pagination a.active {
    border-radius: 5px;
  }
  .pagination a:hover {
    border-radius: 5px;
    background-color: #1F79AC;
    color: white;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container__listCountries {
    .container__listCountries__table {
      overflow-x: auto;
      width: 100%;
      .table-header{
        font-size: 12px;
      }
      .table-row {
        font-size: 14px;
      }
    }
    .pagination{
      justify-content: center;
      font-size: 14px;
    }
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}